@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

body
{
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;
    color: #505962;
}

/* navigation */
.navbar 
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-nav li
{
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link
{
    color: white;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
    color: aqua;
}

/* landing page */
.home-inner
{
    background-image: url(images/clement-h-544786-unsplash.jpg);
}

.caption
{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1
{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3
{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}