@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');*/
/* body style */
body
{
    overflow-x: hidden;
    font-family: 'Hind', sans-serif;
    color: #505962;
}

.offset:before
{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
/* navigation */
.navbar 
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img
{
    height: 2.5rem;
}
.navbar-nav li
{
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link
{
    color: white;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
    color: #17a2b8;
}

/* carousel */
.carousel-item 
{
    height: 400px;
}
.carousel-item h1
{
    padding-top: 80px;
}

/* home background page */
.home-background
{
    background-image: url(images/clement-h-544786-unsplash.jpg);
}

#home
{
    background-color: rgba(0, 0, 0, 0.5);
}

.caption
{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1
{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3
{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

/* service section */
.jumbotron
{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

h3.heading
{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline
{
    width: 3rem;
    height: .2rem;
    background-color: #17a2b8;
    margin: 0 auto 2rem;
}
.service
{
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
}
.service:hover
{
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
    color: #17a2b8;
}
.service h3
{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 0.4;
}
.service img
{
    width: 6rem;
    height: 6rem;
    margin: 1.6rem;
}
.backend p i
{
    /*font-size: 1.1rem;*/
    margin-top: .8rem;
}

.service .fab
{
    color: #17a2b8;
}

.fixed
{
    background-image: url(images/christopher-gower-291246-unsplash.jpg);
    z-index: -1;
}

.dark
{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem;
}

.fixed-background h3
{
    margin-bottom: 2rem;
}

.fixed-background p
{
    margin-top: 1.5rem;
}

/* profile section */
.profile img
{
    width: 100%;
    border: white;
    border-style: solid;
    border-radius: 50%;
}
.row h5
{
    color: #17a2b8;
}

/* Contact section */
#contact .fab
{
    font-size: 2rem;
    margin: 0 .7rem 0 0;
    color: #17a2b8;
}

#contact .fab:hover
{
    color: rgba(0, 0, 255, 0.8);
}

.form-group input
{
    border-style: solid;
    border-width: .1rem;
    border-color: #17a2b8;
}

.form-group textarea
{
    border: .1rem solid #17a2b8;
}

/* Foooter section */
footer .fab:hover
{
    color: #17a2b8!important;
}

footer 
{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    /*margin-top: 1rem;*/
}

footer img
{
    height: 3rem;
    margin-bottom: 0.5rem;
}

footer p
{
    text-transform: uppercase;
    font-weight: bold;
    color: #868e96;
}
hr.footer
{
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;

}

/* Midium Screens */

@media (max-width: 767px)
{
    .navbar-brand img
    {
        height: 2rem;

    }
    .caption h1
    {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }

    .caption h3
    {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .service i
    {
        font-size: 5rem;
    }

    .service img
    {
        width: 5rem;
        height: 5rem;
    }
    .service p i
    {
        font-size: 1rem;
    }
    .narrow h1
    {
        font-size: 2.4rem;
    }

    .profile img
    {
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }

    footer img
    {
        height: 2rem;
    }
}


