
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* body style */
body
{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #505962;
}

.offset:before
{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
/* navigation */
.navbar 
{
    text-transform: uppercase;
    font-size: .9rem;
    background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand h3
{
    color: #17a2b8;
}
.navbar-brand img
{
    height: 2.5rem;
}
.navbar-nav li
{
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link
{
    color: white;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link
{
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
    -webkit-transform: scale(1.3); /* Safari */
    transform: scale(1.3);
    color: #17a2b8;
}

/* carousel*/ 
.carousel-item 
{
    height: 20rem;
}


.carousel-item blockquote
{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.3rem;
    color: white;
}

/* home background page */
.home-background
{
    background-image: url(images/clement-h-544786-unsplash.jpg);
}

#home
{
    background-color: rgba(0, 0, 0, 0);
}

.caption
{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1
{
    font-size: 3.8rem;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-top: 7rem;

}

.caption h5
{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

/* service section */
.jumbotron
{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

h3.heading
{
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline
{
    width: 3rem;
    height: .2rem;
    background-color: #17a2b8;
    margin: 0 auto 2rem;
}
.service
{
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
}
.service:hover
{
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
    color: #17a2b8;
}
.service h3
{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 0.4rem;
}
.service img
{
    width: 5rem;
    height: 5rem;
    margin: 1.6rem;
}
.backend p i
{
    margin-top: .8rem;
}

.service .fab
{
    color: #17a2b8;
}

.service .content
{
    padding-left: 2rem;
    padding-right: 2rem;
}
.fixed
{
    background-image: url(images/christopher-gower-291246-unsplash.jpg);
    z-index: -1;
}

.dark
{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 3rem 2rem 5rem 2rem;
}

.fixed-background h3
{
    margin-bottom: 2rem;
}

.fixed-background p
{
    margin-top: 1.5rem;
}

/* profile section */
.profile img
{
    width: 100%;
    border-radius: 50%;
}
.row h4
{
    color: #17a2b8;
}

.row .about
{
    box-shadow: .6rem .6rem .3rem grey;
}

#smiley span {
    font-size: 1.2rem;
    color: #17a2b8;
  }

#about #achievement
{
    background-color: rgba(23, 168, 184, .7);
    color: white;

}

.other h3
{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 0.8rem;
}

.other p
{
    font-size: 1.3rem;
}

.other i
{
    margin: 1rem;
}

/* Contact section */
#contact h5
{
    color: #17a2b8;
}

.form-group input
{
    border-style: solid;
    border-width: .1rem;
    border-color: #17a2b8;
    border-radius: 0!important;
}

.form-group textarea
{
    border: .1rem solid #17a2b8;
    border-radius: 0!important;
}
form button
{
    border-radius: 0!important;
    border-width: .1rem!important;
}


/* Foooter section */
footer .fab:hover
{
    color: #17a2b8!important;
}

footer 
{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    /*margin-top: 1rem;*/
}

footer img
{
    height: 3rem;
    margin-bottom: 0.5rem;
}

footer p
{
    text-transform: uppercase;
    font-weight: bold;
    color: #868e96;
}
hr.footer
{
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;

}

/* Midium Screens */

@media (max-width: 767px)
{
    .navbar-brand img
    {
        height: 2rem;

    }
    .caption h1
    {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }

    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link
    {
        -webkit-transition: none!important;
        transition: none!important;
        text-align: center;
    }

    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link:hover
    {
        -webkit-transform: none!important; /* Safari */
        transform: none!important;
    }

    .caption h5
    {
        font-size: 1.1rem;
        padding-bottom: 1.2rem;
    }

    .carousel-item h3,blockquote
    {
        padding: 5px!important;
    }

    .carousel-item blockquote
    {

        font-size: .9rem;
    }

    .service i
    {
        font-size: 4rem;
    }

    .service img
    {
        width: 4rem;
        height: 4rem;
    }
    .service p i
    {
        font-size: 1rem;
    }

    .service
    {
        -webkit-transition: none!important;
        transition: none!important;
    }
    .service:hover
    {
        -webkit-transform: none!important; /* Safari */
        transform: none!important;
    }

    .service .content
    {
        padding-left: 0;
        padding-right: 0;
    }
    .narrow h1
    {
        font-size: 2.4rem;
    }

    .profile img
    {
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }

    .other i
    {
        font-size: 4rem;
    }

    .carousel-item 
    {
        height: 26rem;
    }

    .carousel-item blockquote
    {
        font-size: 1rem;
    }

    .other p 
    {
        font-size: 1rem;
    }
    .row .about
    {
        box-shadow: none;
    }

    footer img
    {
        height: 2rem;
    }
    
}


